[Unit]
Description=Dockerized FastAPI App service
After=docker.service
Requires=docker.service

[Service]
Restart=always
User=username
WorkingDirectory=FILL_THE_PATH
ExecStart=/usr/bin/make run-prod
ExecStop=/usr/bin/make down-prod

[Install]
WantedBy=multi-user.target
