[Unit]
Description=Dockerized FastAPI App service
After=docker.service
Requires=docker.service

[Service]
Restart=always
User=peplxx
WorkingDirectory=/home/peplxx/PycharmProjects/fast-template
ExecStart=make run-prod
ExecStop=make down-prod

[Install]
WantedBy=multi-user.target
